@model proj.Models.others.UserView

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            @for (int i = 0; i < 4; i++)
            {
                <!-- Product Single -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="product product-single">
                        <div class="product-thumb">
                            <div class="product-label">
                                <span>New</span>
                                <span class="sale"></span>
                            </div>
                            <button class="main-btn quick-view" type="submit" onclick="location.href='@Url.Action("Details","Home")?id=@Model.articles.ElementAt(i).numArticle'"><i class="fa fa-search-plus"></i> Details</button>
                            <img src="../Content/DemoUser/img/@Model.articles.ElementAt(i).photo" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-price">@Model.articles.ElementAt(i).prixU DH<del class="product-old-price"></del></h3>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                            </div>
                            <h2 class="product-name"><a href="#">@Model.articles.ElementAt(i).designation</a></h2>
                            <div class="product-btns">
                                <h4 class="product-price">Quantité</h4> <input type="number" id="qte" value="1" /><hr />
                                <button class="primary-btn add-to-cart" type="submit" onclick="location.href='@Url.Action("Create","LigneCommandes")?id=@Model.articles.ElementAt(i).numArticle&qte=' + document.getElementById('qte').value"><i class="fa fa-shopping-cart"></i>Ajouter au panier</button>
                            </div>
                        </div>
                    </div>
                    <!-- /Product Single -->
                </div>
            }
        </div>
        <!-- /row -->
    </div>
</div>

@ViewData["eror"]