@model proj.Models.Article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper" style="min-height: 990px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <!--<h1>
            General Form Elements
            <small>Preview</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
        </ol>-->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Article</h3>
                    </div>
                    <div>

                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.designation)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.designation)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.prixU)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.prixU)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.stock)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.stock)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.photo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.photo)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Categorie.nomcatg)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Categorie.nomcatg)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.numArticle }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
